In [1]:
import pyodbc

In [11]:
connection_string = (
    "DRIVER={SQL Server};"
    "SERVER=Hp2058\\SQLEXPRESS;"  # Replace with your actual SQL Server instance name
    "DATABASE=Project1;"     # Replace with the database name you created in SSMS
    "Trusted_Connection=yes;" # Use Windows Authentication
)
conn = pyodbc.connect(connection_string)
cursor = conn.cursor()

print("Connected to the database successfully!")

Connected to the database successfully!

In [75]:
def insert_player(player_name):
    cursor.execute("""
        INSERT INTO Players (PlayerName)
        VALUES (?)
    """, player_name)
    conn.commit()
    print(f"Player {player_name} inserted.")

In [77]:
import datetime

def insert_game(player1_id, player2_id, game_outcome):
    start_time = datetime.datetime.now()
    cursor.execute("""
        INSERT INTO Games (StartTime, Player1ID, Player2ID, GameOutcome)
        VALUES (?, ?, ?, ?)
    """, start_time, player1_id, player2_id, game_outcome)
    conn.commit()
    print(f"Game started between Player {player1_id} and Player {player2_id}.")

In [79]:
def insert_move(game_id, player_id, move_number, position):
    move_time = datetime.datetime.now()
    cursor.execute("""
        INSERT INTO Moves (GameID, PlayerID, MoveNumber, Position, MoveTime)
        VALUES (?, ?, ?, ?, ?)
    """, game_id, player_id, move_number, position, move_time)
    conn.commit()
    print(f"Move {move_number} at position {position} made by Player {player_id}.")

In [81]:
def update_game_outcome(game_id, winner_id):
    end_time = datetime.datetime.now()
    cursor.execute("""
        UPDATE Games
        SET EndTime = ?, WinnerID = ?
        WHERE GameID = ?
    """, end_time, winner_id, game_id)
    conn.commit()
    print(f"Game {game_id} ended. Winner is Player {winner_id}.")

In [83]:

# Insert Players
insert_player('Player1')
insert_player('Player2')

# Retrieve Player IDs
cursor.execute("SELECT PlayerID FROM Players WHERE PlayerName = 'Player1'")
player1_id = cursor.fetchone()[0]

cursor.execute("SELECT PlayerID FROM Players WHERE PlayerName = 'Player2'")
player2_id = cursor.fetchone()[0]

# Start Game
game_outcome = 'Ongoing'
insert_game(player1_id, player2_id, game_outcome)

# Retrieve Game ID
cursor.execute("SELECT GameID FROM Games WHERE GameOutcome = 'Ongoing'")
game_id = cursor.fetchone()[0]

# Insert Moves
insert_move(game_id, player1_id, 1, 'A1')
insert_move(game_id, player2_id, 2, 'B2')
insert_move(game_id, player1_id, 3, 'C3')

# End Game and Update Outcome
update_game_outcome(game_id, player1_id)

Player Player1 inserted.
Player Player2 inserted.
Game started between Player 3 and Player 4.
Move 1 at position A1 made by Player 3.
Move 2 at position B2 made by Player 4.
Move 3 at position C3 made by Player 3.
Game 2 ended. Winner is Player 3.

In [93]:
from sqlalchemy import create_engine
import urllib

# Define the connection string using pyodbc
params = urllib.parse.quote_plus("DRIVER={ODBC Driver 17 for SQL Server};"
                                  "SERVER=Hp2058\\SQLEXPRESS;"  # Replace with your actual SQL Server name
                                  "DATABASE=Project1;"  # Replace with your actual database name
                                  "Trusted_Connection=yes;")           # Replace with your actual password

# Create the SQLAlchemy engine
engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}")

# Connect to the database
conn = engine.connect()

In [95]:
import pandas as pd

# Query to retrieve moves
df_moves = pd.read_sql("""
    SELECT p.PlayerName, m.MoveNumber, m.Position, m.MoveTime
    FROM Moves m
    JOIN Players p ON m.PlayerID = p.PlayerID
    ORDER BY m.GameID, m.MoveNumber
""", conn)

# Display the dataframe
print(df_moves)

   PlayerName  MoveNumber Position                MoveTime
0     Player1           1       A1 2025-01-07 16:05:39.173
1     Player1           1       A1 2025-01-07 16:07:34.307
2     Player1           1       A1 2025-01-07 16:07:37.797
3     Player1           1       A1 2025-01-07 16:07:47.253
4     Player2           2       B2 2025-01-07 16:07:47.257
5     Player2           2       B2 2025-01-07 16:07:37.800
6     Player2           2       B2 2025-01-07 16:07:34.310
7     Player2           2       B2 2025-01-07 16:05:39.177
8     Player1           3       C3 2025-01-07 16:05:39.180
9     Player1           3       C3 2025-01-07 16:07:34.310
10    Player1           3       C3 2025-01-07 16:07:37.800
11    Player1           3       C3 2025-01-07 16:07:47.257

In [97]:
conn.close()

In [85]:
import pandas as pd

In [87]:
df_moves = pd.read_sql("""
    SELECT p.PlayerName, m.MoveNumber, m.Position, m.MoveTime
    FROM Moves m
    JOIN Players p ON m.PlayerID = p.PlayerID
    ORDER BY m.GameID, m.MoveNumber
""", conn)

print(df_moves)

   PlayerName  MoveNumber Position                MoveTime
0     Player1           1       A1 2025-01-07 16:05:39.173
1     Player1           1       A1 2025-01-07 16:07:34.307
2     Player1           1       A1 2025-01-07 16:07:37.797
3     Player1           1       A1 2025-01-07 16:07:47.253
4     Player2           2       B2 2025-01-07 16:07:47.257
5     Player2           2       B2 2025-01-07 16:07:37.800
6     Player2           2       B2 2025-01-07 16:07:34.310
7     Player2           2       B2 2025-01-07 16:05:39.177
8     Player1           3       C3 2025-01-07 16:05:39.180
9     Player1           3       C3 2025-01-07 16:07:34.310
10    Player1           3       C3 2025-01-07 16:07:37.800
11    Player1           3       C3 2025-01-07 16:07:47.257

C:\Users\npooj\AppData\Local\Temp\ipykernel_4804\779656766.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_moves = pd.read_sql("""